[data-theme="fluent.blue.light"] akn-navigation-panel-ui .navigation-panel__search-icon-container {
  background: var(--primary-600);
  color: var(--primary-200);
}

[data-theme="fluent.blue.dark"] {
  /* dark theme placeholder */
}

:root {
  --primary-100: #e8f7f4;
  --primary-200: #d1eee8;
  --primary-300: #a3dcd1;
  --primary-400: #4aa79a;
  --primary-500: #07433a;
  --primary-600: #063c34;
  --primary-700: #05332c;
  --primary-800: #042a25;
  --primary-900: #031f1b;
  --primary-1000: #021612;
  --secondary-color: #dc0083;
}

:root,
[data-theme="fluent.blue.light"],
[data-theme=tiara-light] {
  --tiara-border-color: #e0e0e0;
  --tiara-component-background-color: #ffffff;
  --tiara-header-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.15);
  --tiara-primary-color: #07433a;
  --tiara-text-color: #121212;
  --tiara-primary-color-soft: #eff6ff;
  --tiara-surface-color: #ffffff;
  --tiara-surface-hover-color: #f3f4f6;
  --tiara-surface-soft-color: #f9fafb;
  --tiara-text-muted-color: #6b7280;
}

[data-theme="fluent.blue.dark"],
[data-theme=tiara-dark] {
  --tiara-border-color: #3d3d3f;
  --tiara-component-background-color: #1c1c1c;
  --tiara-header-box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.70);
  --tiara-primary-color: #07433a;
  --tiara-text-color: #ffffff;
  --tiara-primary-color-soft: #eff6ff;
  --tiara-surface-color: #262626;
  --tiara-surface-hover-color: #333333;
  --tiara-surface-soft-color: #1c1c1c;
  --tiara-text-muted-color: #9c9d9f;
}

body, html {
  height: 100%;
  margin: 0;
}
